# Ignore build artifacts
build
.dart_tool
.idea
.vscode

# Android / iOS build cache
android/.gradle
android/app/build
ios/Pods
ios/build
ios/.symlinks

# System files
.DS_Store

# Git files
.git
.gitignore
README.md
